<div>
  <h5> Ajouter un nouvel Utilisateur</h5>
  <hr>
  <form (ngSubmit)="onCloseConfirm()" [(formGroup)]="addUserForm">
    <div class="row">
      <mat-form-field class="col-lg-6">
        <input matInput name="username" placeholder="nom complet" formControlName="username">
      </mat-form-field>
      <mat-form-field class="col-lg-6">
        <input matInput [matDatepicker]="picker" placeholder="date dernière connexion" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true"  #picker></mat-datepicker>
      </mat-form-field>

    </div>
    <div class="row ">
      <mat-form-field class="col-lg-12">
        <input matInput name="email" placeholder="e-mail" formControlName="email" >

      </mat-form-field>
    </div>

  </form>

  <hr>
  <mat-dialog-actions>
    <button mat-raised-button class="btn btn-outline-primary" (click)="onCloseConfirm()" [disabled]="!addUserForm.valid"> Soumettre </button>
    <button mat-raised-button (click)="onCloseCancel()"> Annuler </button>
  </mat-dialog-actions>
</div>
